body
{
    background-size: cover;
}

.heading{
    width: 100%;
    margin: 0;
    font-size: 20px;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#instruct{
    float: right;
    border: 2px solid white;
    border-radius: 15px;
}

#play{
    background-color: hotpink;
    color: white;
    border-radius: 20px;
    border: 3px solid navy;
    width: 100px;
    height: 45px;
}

#play:hover{
    background: linear-gradient(lime,#234F1e);
    color: white;
    border: 3px solid rgb(167, 92, 0);
}